/* ================== font size ==================================== */

.fs-14px {
  font-size: 14px;
}
.fs-15px {
  font-size: 15px;
}
.fs-17px {
  font-size: 17px;
}
.fs-42px {
  font-size: 42px;
}
.fs-110px {
  font-size: 110px;
}
