@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans.svg#webfont") format("svg");
  font-style: normal;
  font-weight: normal;
}
.ff_arial {
  font-family: Arial;
}
.ff_OpenSans {
  font-family: OpenSans;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs17 {
  font-size: 17px;
}
.fs42 {
  font-size: 42px;
}
.fs110 {
  font-size: 110px;
}
.fw400 {
  font-weight: 400;
}
.fw900 {
  font-weight: 900;
}
.ls2 {
  letter-spacing: 2px;
}
.ls10 {
  letter-spacing: 10px;
}
.text_center {
  text-align: center;
}
.color_navi_activ {
  color: #57BBBF;
}
.btn-bg-col {
  background-color: #000;
}
.btn-txt-col {
  color: #fff;
}
.mt20 {
  margin-top: 20px;
}
.mt37 {
  margin-top: 37px;
}
.mt39 {
  margin-top: 39px;
}
.mt54 {
  margin-top: 54px;
}
.mt170 {
  margin-top: 170px;
}
.mt87 {
  margin-top: 87px;
}
.mb0 {
  margin-bottom: 0;
}
.mb616 {
  margin-bottom: 616px;
}
.lh07 {
  line-height: 0.7;
}
.width-container {
  width: 945px;
}
body {
  background: #fff;
}
.header {
  display: flex;
  flex-direction: column;
}
.header-fix {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}
.header-fix-container {
  width: 945px;
  display: inline-flex;
  justify-content: space-between;
}
.header-fix-container nav li {
  display: inline;
  padding-left: 30px;
}
.header-fix-container-r {
  padding-top: 20px;
}
.header-body {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url(/img/layer-1.webp) no-repeat;
}
.header-body-container {
  width: 945px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-body-container p {
  text-align: center;
  margin: 0;
}
.section-about {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
}
.section-about hr {
  margin-top: 0;
}
.section-about-container {
  display: flex;
  position: relative;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 945px;
}
.section-about-container-l {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 472.5px;
}
.section-about-container-r {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: url('/img/foto.webp') center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 472.5px;
}
.btn-1 {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 164px;
  height: 40px;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.layer {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
}
.layer-bg {
  background: url('/img/bg.webp') center no-repeat;
  background-size: cover;
}
.layer-1 {
  background: url('/img/layer-1.webp') center no-repeat;
  background-size: cover;
}
